CREATE DATABASE HuflitShop3;
GO
USE HuflitShop3;
GO

-- 1. NHÓM IDENTITY & USERS (NGƯỜI DÙNG)

CREATE TABLE Roles (
    Id VARCHAR(50) PRIMARY KEY, -- VD: 'ROLE-ADMIN', 'ROLE-CUSTOMER'
    RoleName NVARCHAR(255) NOT NULL,
    NormalizedName NVARCHAR(255)
);

CREATE TABLE Users (
    Id VARCHAR(50) PRIMARY KEY, 
    FullName NVARCHAR(255) NOT NULL,
    -- Chuẩn Cloudinary cho ảnh đại diện
    AvatarPublicId VARCHAR(255) NULL,
    AvatarVersion VARCHAR(50) NULL,
    DateOfBirth DATE,
    Gender INT, -- 0: Nữ, 1: Nam, 2: Khác
    IsActive BIT DEFAULT 1,
    JoinedDate DATETIME DEFAULT GETDATE(),
    UserName NVARCHAR(255) UNIQUE NOT NULL,
    Email NVARCHAR(255) UNIQUE NOT NULL,
    PasswordHash NVARCHAR(MAX) NOT NULL,
    PhoneNumber NVARCHAR(20)
);

CREATE TABLE UserRoles (
    UserId VARCHAR(50) NOT NULL,
    RoleId VARCHAR(50) NOT NULL,
    PRIMARY KEY (UserId, RoleId),
    FOREIGN KEY (UserId) REFERENCES Users(Id),
    FOREIGN KEY (RoleId) REFERENCES Roles(Id)
);

CREATE TABLE Address (
    Id VARCHAR(50) PRIMARY KEY,
    UserId VARCHAR(50) NOT NULL,
    SpecificAddress NVARCHAR(MAX) NOT NULL,
    City NVARCHAR(255) NOT NULL,
    District NVARCHAR(255) NOT NULL,
    FOREIGN KEY (UserId) REFERENCES Users(Id)
);

-- 2. NHÓM DANH MỤC & SẢN PHẨM 

CREATE TABLE Categories (
    Id VARCHAR(50) PRIMARY KEY, 
    CategoryName NVARCHAR(255) NOT NULL, 
    ParentId VARCHAR(50) NULL
);

CREATE TABLE Product (
    Id VARCHAR(50) PRIMARY KEY, -- VD: 'SP-POLO-01'
    CategoryId VARCHAR(50) NOT NULL,
    ProductName NVARCHAR(255) NOT NULL,
    Description NVARCHAR(MAX),
    CurrentPrice DECIMAL(18,2) NOT NULL,
    ManufactureYear INT, 
    Origin NVARCHAR(255),
    Trademark NVARCHAR(255),
    ViewCount INT DEFAULT 0, 
    IsDeleted BIT DEFAULT 0,
    CreatedAt DATETIME DEFAULT GETDATE(),
    FOREIGN KEY (CategoryId) REFERENCES Categories(Id)
);

CREATE TABLE Colors (
    Id VARCHAR(50) PRIMARY KEY, -- VD: 'CLR-RED'
    ColorName NVARCHAR(50) NOT NULL,
    HexCode VARCHAR(10) 
);

CREATE TABLE Sizes (
    Id VARCHAR(50) PRIMARY KEY, -- VD: 'SZ-XL'
    SizeName NVARCHAR(50) NOT NULL, 
    SizeType VARCHAR(50) NOT NULL
);

CREATE TABLE ProductImages (
    Id VARCHAR(50) PRIMARY KEY,
    ProductId VARCHAR(50) NOT NULL,
    ColorId VARCHAR(50) NULL,
    PublicId VARCHAR(255) NOT NULL, 
    AssetVersion VARCHAR(50) NULL,
    ImageOrder INT DEFAULT 0, -- Thứ tự hiển thị, 0 thường là ảnh đại diện (Thumbnail)
    FOREIGN KEY (ProductId) REFERENCES Product(Id),
    FOREIGN KEY (ColorId) REFERENCES Colors(Id)
);

-- 3. KHO & NHÀ CUNG CẤP

CREATE TABLE ProductVariants (
    Id VARCHAR(50) PRIMARY KEY, 
    ProductId VARCHAR(50) NOT NULL,
    SizeId VARCHAR(50) NOT NULL,
    ColorId VARCHAR(50) NOT NULL,
    StockQuantity INT DEFAULT 0, -- Tồn kho hiện tại
    AdditionalPrice DECIMAL(18,2) DEFAULT 0, -- Phụ thu nếu size to hơn hoặc màu hiếm
    FOREIGN KEY (ProductId) REFERENCES Product(Id),
    FOREIGN KEY (SizeId) REFERENCES Sizes(Id),
    FOREIGN KEY (ColorId) REFERENCES Colors(Id),
    CONSTRAINT UQ_Product_Color_Size UNIQUE (ProductId, SizeId, ColorId)
);

CREATE TABLE ProductPriceHistories (
    Id VARCHAR(50) PRIMARY KEY,
    ProductId VARCHAR(50) NOT NULL,
    OldPrice DECIMAL(18,2) NOT NULL,
    NewPrice DECIMAL(18,2) NOT NULL,
    EffectiveDate DATETIME DEFAULT GETDATE(),
    ChangedBy VARCHAR(50), 
    FOREIGN KEY (ProductId) REFERENCES Product(Id),
    FOREIGN KEY (ChangedBy) REFERENCES Users(Id)
);

CREATE TABLE Suppliers (
    Id VARCHAR(50) PRIMARY KEY,
    SupplierName NVARCHAR(255) NOT NULL,
    ContactName NVARCHAR(255),
    Phone VARCHAR(20),
    Email VARCHAR(255),
    Address NVARCHAR(MAX)
);

CREATE TABLE StockReceived (
    Id VARCHAR(50) PRIMARY KEY, 
    SupplierId VARCHAR(50) NULL, -- Bổ sung nhà cung cấp để quản lý nguồn hàng
    ReceivedDate DATETIME DEFAULT GETDATE(),
    TotalCost DECIMAL(18,2) DEFAULT 0,
    FOREIGN KEY (SupplierId) REFERENCES Suppliers(Id)
);

CREATE TABLE StockReceivedDetails (
    Id VARCHAR(50) PRIMARY KEY,
    StockReceivedId VARCHAR(50) NOT NULL,
    ProductVariantId VARCHAR(50) NOT NULL, 
    Quantity INT NOT NULL,
    UnitPrice DECIMAL(18,2) NOT NULL, -- Giá vốn nhập kho
    FOREIGN KEY (StockReceivedId) REFERENCES StockReceived(Id),
    FOREIGN KEY (ProductVariantId) REFERENCES ProductVariants(Id)
);

CREATE TABLE InventoryTransactions (
    Id VARCHAR(50) PRIMARY KEY,
    ProductVariantId VARCHAR(50) NOT NULL,
    TransactionType VARCHAR(50) NOT NULL, -- 'IN_RECEIPT', 'OUT_SALE', 'IN_RETURN', 'OUT_DAMAGE'
    QuantityChange INT NOT NULL, 
    ReferenceId VARCHAR(50), 
    RemainingStock INT NOT NULL, 
    TransactionDate DATETIME DEFAULT GETDATE(),
    Note NVARCHAR(MAX),
    FOREIGN KEY (ProductVariantId) REFERENCES ProductVariants(Id)
);

-- 4. ĐƠN HÀNG, GIỎ HÀNG & KHUYẾN MÃI

CREATE TABLE Promotions (
    Id VARCHAR(50) PRIMARY KEY,
    PromoCode NVARCHAR(50) UNIQUE NOT NULL,
    DiscountType VARCHAR(20) NOT NULL,
    DiscountValue DECIMAL(18,2) NOT NULL, -- Giá trị giảm (Ví dụ: 15 cho 15%, hoặc 50000 cho 50k)
    MinOrderAmount DECIMAL(18,2) DEFAULT 0, -- Điều kiện đơn hàng tối thiểu để áp dụng mã
    MaxDiscountAmount DECIMAL(18,2) NULL, 
    StartDate DATETIME NOT NULL,
    EndDate DATETIME NOT NULL,
    UsageLimit INT NULL,
    UsedCount INT DEFAULT 0,
    IsActive BIT DEFAULT 1
);

CREATE TABLE PaymentMethods (
    Id VARCHAR(50) PRIMARY KEY, -- VD: 'PAY-COD', 'PAY-VNPAY'
    MethodName NVARCHAR(255) NOT NULL
);

CREATE TABLE Carts (
    Id VARCHAR(50) PRIMARY KEY,
    UserId VARCHAR(50) NULL, -- Đã sửa: Đổi thành NULL để hỗ trợ khách vãng lai (Guest Cart) mua sắm trước đăng nhập
    ProductVariantId VARCHAR(50) NOT NULL, 
    Quantity INT DEFAULT 1,
    SessionId NVARCHAR(255) NULL, -- Lưu token session trình duyệt của khách vãng lai
    CreatedAt DATETIME DEFAULT GETDATE(),
    FOREIGN KEY (ProductVariantId) REFERENCES ProductVariants(Id),
    FOREIGN KEY (UserId) REFERENCES Users(Id)
);

CREATE TABLE Orders (
    Id VARCHAR(50) PRIMARY KEY,
    UserId VARCHAR(50) NOT NULL,
    PaymentMethodId VARCHAR(50) NOT NULL,
    PromotionId VARCHAR(50) NULL,
    OrderDate DATETIME DEFAULT GETDATE(),
    OrderStatus INT DEFAULT 0, -- 0: Chờ duyệt, 1: Đóng gói, 2: Đang giao, 3: Hoàn thành, 4: Hủy
    PaymentStatus INT DEFAULT 0, -- 0: Chưa thanh toán, 1: Đã thanh toán
    
    TotalAmount DECIMAL(18,2) NOT NULL, -- Tổng tiền hàng gốc
    DiscountAmount DECIMAL(18,2) DEFAULT 0, -- Tiền giảm giá từ khuyến mãi
    ShippingFee DECIMAL(18,2) DEFAULT 0, -- Phí vận chuyển
    FinalAmount DECIMAL(18,2) NOT NULL, -- Tiền thực tế khách phải trả = (Total - Discount + Ship)

    -- Đã bổ sung: BANNER SNAPSHOT thông tin nhận hàng (Bắt buộc phải có để tránh lỗi đổi địa chỉ)
    ShippingFullName NVARCHAR(255) NOT NULL,
    ShippingPhoneNumber VARCHAR(20) NOT NULL,
    ShippingAddress NVARCHAR(MAX) NOT NULL,
    ShippingCity NVARCHAR(255) NOT NULL,
    ShippingDistrict NVARCHAR(255) NOT NULL,
    
    FOREIGN KEY (UserId) REFERENCES Users(Id),
    FOREIGN KEY (PaymentMethodId) REFERENCES PaymentMethods(Id),
    FOREIGN KEY (PromotionId) REFERENCES Promotions(Id)
);

CREATE TABLE OrderDetails (
    Id VARCHAR(50) PRIMARY KEY,
    OrderId VARCHAR(50) NOT NULL,
    ProductVariantId VARCHAR(50) NOT NULL, 
    Quantity INT NOT NULL,
    PurchasedPrice DECIMAL(18,2) NOT NULL, -- Giá tại thời điểm mua
    ProductNameSnapshot NVARCHAR(255) NOT NULL,
    SizeNameSnapshot NVARCHAR(50) NOT NULL,
    ColorNameSnapshot NVARCHAR(50) NOT NULL, 
    
    FOREIGN KEY (OrderId) REFERENCES Orders(Id),
    FOREIGN KEY (ProductVariantId) REFERENCES ProductVariants(Id)
);
-- 5. TƯƠNG TÁC, LỊCH SỬ XEM & CHAT (LOGS)

CREATE TABLE Reviews (
    Id VARCHAR(50) PRIMARY KEY,
    UserId VARCHAR(50) NOT NULL,
    ProductVariantId VARCHAR(50) NOT NULL, 
    RatingStars INT NOT NULL CHECK (RatingStars BETWEEN 1 AND 5),
    ReviewComment NVARCHAR(MAX),
    CreatedAt DATETIME DEFAULT GETDATE(),
    IsDeleted BIT DEFAULT 0,
    FOREIGN KEY (ProductVariantId) REFERENCES ProductVariants(Id),
    FOREIGN KEY (UserId) REFERENCES Users(Id)
);

CREATE TABLE ReviewImages (
    Id VARCHAR(50) PRIMARY KEY,
    ReviewId VARCHAR(50) NOT NULL,
    -- Chuẩn Cloudinary cho ảnh feedback khách hàng
    PublicId VARCHAR(255) NOT NULL,
    AssetVersion VARCHAR(50) NULL,
    CreatedAt DATETIME DEFAULT GETDATE(),
    FOREIGN KEY (ReviewId) REFERENCES Reviews(Id)
);

CREATE TABLE ChatSessions (
    Id VARCHAR(50) PRIMARY KEY,
    UserId VARCHAR(50) NOT NULL,
    SessionStartedAt DATETIME DEFAULT GETDATE(),
    IsActive BIT DEFAULT 1,
    FOREIGN KEY (UserId) REFERENCES Users(Id)
);

CREATE TABLE ChatMessages (
    Id VARCHAR(50) PRIMARY KEY,
    SessionId VARCHAR(50) NOT NULL,
    SenderType NVARCHAR(50) NOT NULL, 
    MessageContent NVARCHAR(MAX) NOT NULL,
    SentAt DATETIME DEFAULT GETDATE(),
    FOREIGN KEY (SessionId) REFERENCES ChatSessions(Id)
);

CREATE TABLE ProductViewsLog (
    Id VARCHAR(50) PRIMARY KEY,
    ProductId VARCHAR(50) NOT NULL,
    UserId VARCHAR(50) NULL, -- Có thể NULL nếu là khách chưa đăng nhập lướt web
    IpAddress VARCHAR(50) NULL,
    UserAgent NVARCHAR(MAX) NULL, -- Lưu thông tin trình duyệt / thiết bị (Mobile hay Desktop)
    ViewedAt DATETIME DEFAULT GETDATE(),
    FOREIGN KEY (ProductId) REFERENCES Product(Id)
);
GO