@model HuflitShopCore.DTOs.LoginDTO
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Login";
}


<form method="post" class="form-login" id="form-login">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group form-input">
        <input asp-for="Email" type="text" placeholder="Email đăng nhập" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group form-input">
        <input asp-for="Password" type="password" placeholder="Mật khẩu" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="RememberMe" /> Ghi nhớ đăng nhập
        </label>
    </div>

    <div class="form-group form-button">
        <input type="submit" id="login" class="form-submit" value="Đăng nhập" />
    </div>
</form>

<div class="form-group sugget-text">
    <div class="text">Bạn chưa có tài khoản?</div>
    <div class="link register-link">
        <a asp-controller="Login" asp-action="Register">Đăng ký</a>
    </div>
</div>
